<div class="container">
    <div class="card shadow mb-4">                   
      <div class="card-body"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Type</th>
              <th>Nombre portes</th>
              <th>Puissance</th>
              <th>Prix</th>
              <th>Date Création</th>
            </tr>
          </thead>
          <tbody *ngFor="let voiture of voitures">
            <tr>
              <td>{{voiture.idVoiture}}</td>
              <td>{{voiture.nomVoiture}}</td>
              <td>{{voiture.type}}</td>
              <td>{{voiture.nbPortes}}</td>
              <td>{{voiture.puissance}}</td>
              <td>{{voiture.prixVoiture}}</td>
              <td>{{voiture.dateCreationVoiture | date:'dd/MM/yyyy'}}</td>
            </tr>                                    
          </tbody>
        </table>
      </div>
    </div>
  </div> 